MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=ruoyi-vue-pro
NACOS_AUTH_TOKEN=eXVkYW8tbG9jYWwtZGV2ZWxvcG1lbnQtbmFjb3Mtc2VjcmV0LTIwMjY=
NACOS_AUTH_IDENTITY_KEY=serverIdentity
NACOS_AUTH_IDENTITY_VALUE=security
TZ=Asia/Shanghai
